html, body {
    margin: 0;
    padding: 0;
}

.docspinner {
    display: block;
    margin-top: -30px;
    margin-left: -30px;
    width: 60px;
    height: 60px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9999999;
}
