html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;}

    html.preload {
        /* Would rather have black during loading than white. */
        background-color: #000;
    }

.mouseIdle, .mouseIdle * {
    /* Keeping this for reference, but it causes the mouse to flicker on pushState in chrome */
    /*cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjbQg61aAAAADUlEQVQYV2P4//8/IwAI/QL/+TZZdwAAAABJRU5ErkJggg=='), url(cursors/blank.cur), none !important;*/
    cursor: none !important;
}

.docspinner {
    display: block;
    margin-top: -30px;
    margin-left: -30px;
    width: 60px;
    height: 60px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9999999;
}

.mainAnimatedPages {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
}

.mainHeader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    /* This will ensure it is on top of the main body */
    z-index: 1;
}

.backdropContainer {
}

.backdropImage {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
